<div class="container mw-100 black">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3 no-border">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted red">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted red">About</a></li>
        <li class="nav-item"><a href="/albums" class="nav-link px-2 text-muted red">Albums</a></li>
        <li class="nav-item"><a href="/events" class="nav-link px-2 text-muted red">Events</a></li>
        <li class="nav-item"><a href="/gallery" class="nav-link px-2 text-muted red">Gallery</a></li>
        <li class="nav-item"><a href="/suggestions" class="nav-link px-2 text-muted red">Suggestions</a></li>
    </ul>
      <p class="text-center text-muted red">© 2023 Grupo 6, Inc</p>
    </footer>
</div>