<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 black no-border">
  
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="/images/logo_white.png" alt="logo" class="logo"/>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 red">Home</a></li>
    <li><a href="/about" class="nav-link px-2 red">About</a></li>
    <li><a href="/albums" class="nav-link px-2 red">Albums</a></li>
    <li><a href="/events" class="nav-link px-2 red">Events</a></li>
    <li><a href="/gallery" class="nav-link px-2 red">Gallery</a></li>
    <li><a href="/suggestions" class="nav-link px-2 red">Suggestions</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a href="/login" class="nav-link px-2 red">
      <button type="button" class="btn btn-outline-danger me-2">Login</button>
    </a>
  </div>
</header>