<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <%- include ("partials/head") %>

  <title>Linkin Park</title>
  
</head>

<body>

  <div class="background-logo">

    <%- include ("partials/header") %>

    <nav class="my-3" aria-label="breadcrumb">
      <ol class="breadcrumb" id = "ml-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
    </nav>

    <div id = "aboutBoxesDisplay">
      <a href="/about/history">
        <img src="images/History.png" alt="history"/>
        <p class="DescricaoBox">History</p>
      </a>
      <div class = "aboutEachBox">
        <a href="/about/members">
          <img src="images/Members.png" alt="members"/>
        </a>
      </div>
      <div class = "aboutEachBox">
        <a href="/about/influences">
          <img src="images/Influences.png" alt="influences"/>
        </a>
      </div>
      <div class = "aboutEachBox">
        <a href="/about/discography">
          <img src="images/Discography.png" alt="discography"/>
        </a>
      </div>
    </div>
  
    <%- include ("partials/footer") %>
  </div>

</body>

</html>