<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <%- include ("partials/head") %>

        <title>Login</title>
    </head>

    <body>
        <div class="background-logo">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" id = "ml-2">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>

            <div class="container py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card text-black" style="border-radius: 1rem; background-color: rgb(220, 53, 69);">
                            <div class="card-body p-5 text-center">
            
                                <div class="mb-md-5 mt-md-4 pb-5">
            
                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                
                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typeEmailX">Username</label>
                                    </div>
                
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>
                
                                <button class="btn btn-outline-dark btn-lg px-5" type="submit">Login</button>
        
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>