<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <%- include ("partials/head") %>

        <title>Login</title>

        <style>
            .background-logo {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("../images/logo_grey-transformed.png");
                background-attachment: fixed;
                height: 100vh;
                position: fixed;
                width: 100%;
            }
        </style>

    </head>

    <body>
        <div class="background-logo">
            <nav class="my-3" aria-label="breadcrumb">
                <ol class="breadcrumb" id = "ml-2">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>

            <div id="login">
                <div class="container">
                    <div id="login-row" class="row justify-content-center align-items-center">
                        <div id="login-column" class="col-md-6">
                            <div id="login-box" class="col-md-12">
                                <form id="login-form" class="form" action="/login" method="post">
                                    <h2 class="text-center">Login</h2>

                                    <div class="form-group">
                                        <label for="username">Username:</label><br>
                                        <input type="text" name="username" id="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label><br>
                                        <input type="text" name="password" id="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="submit" class="btn btn-dark btn-md" value="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>