body{
    background-color: black;
}

html, body {
    height: 100%;
    margin: 0;
}

h1{
    color: whitesmoke;
}

.black{
    background-color: rgba(38, 38, 38, 0.9) !important;
}

.red{
    color: rgb(220, 53, 69) !important;
}

.fixed-bottom{
    position: relative !important;
    margin-top: 8% !important;
}

.logo{
    height: 60px;
    margin-left: 10px;
}

.video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.title { 
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin-bottom: 5rem;
}

.background-logo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/logo_grey-transformed.png");
    background-attachment: fixed;
}

.breadcrumb-item.active {
    color: rgb(220, 53, 69);
    text-decoration: underline;
}

#aboutBoxesDisplay{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#aboutBoxesDisplay img{
    width: 20rem;
    height: 31.25rem;
    margin-left: 3.125rem;
    border-radius: 1.25rem; 
    position: relative;
}

#aboutBoxesDisplay img:hover{
    transform: scale(0.98);
    filter: brightness(0.2);
}

#aboutBoxesDisplay a:hover .DescricaoBox{
    visibility: visible;
}

.DescricaoBox{
    bottom: 28%;
    visibility: hidden;
    text-align: center;
    font-size: 200%;
    position: absolute;
    translate: 9rem;
    pointer-events: none;
}

#TitleAboutPage{
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 2%;
}

.HistoriaComponentes{
    color: white;
    margin-left: 12%;
    margin-top: 3%;
    width: 78%;    
    align-items: center;
}

.HistoriaComponentes h3{
    margin-left: 7%;
    margin-bottom: 2%;
}

.ConteudoHistoria {
    display: flex;
    margin-bottom: 6%;
}

.ConteudoHistoria p {
    width: 60%;
    margin-right: 8%;
    align-self: center;
    font-size: large;
}
  
.ConteudoHistoria img {
    width: 30%;
}

.MembrosDisplay{
    color: white;
    margin-left: 12%;
    margin-top: 3%;
    width: 78%;    
}

.MembrosDisplay h1{
    text-align: center;
    margin-bottom: 3%;
}

.CadaMembro{
    display: flex;
    margin-bottom: 6%;
    background-color: rgba(44, 43, 43, 0.8);
    border-radius: 2em;
}

.CadaMembro img{
    width: 30%;
}

.CadaMembro p{
    margin-left: 2%;
    margin-right: 2%;
    font-size: larger;
    text-align: center;
    align-self: center;
}

.DiscografiaDisplay{
    display: flex;
    margin-bottom: 6%;
    background-color: rgba(44, 43, 43, 0.8);
    border-radius: 2em;
    position: relative;
    overflow: hidden;
}

.DiscografiaDisplay img{
    width: 25%;
}

.DiscografiaDisplay p{
    margin-left: 2%;
    margin-right: 2%;
    font-size: larger;
    text-align: center;
    align-self: center;
}

.DiscografiaDisplay a{
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: white;

}

a {
    color: white;
}

#ml-2{
    margin-left: 2rem;
}


.card {
    border:none;
    background-color: transparent !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    width: 18rem;
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: rgb(220, 53, 69);
    font-weight: bold;
    font-size: 1.5rem;
}

.card:hover img {
    filter: brightness(15%);
}
.card:hover .card-desc {
    display: block;
}
.card .card-desc {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
.mr-3 {
    margin-right: 5rem;
}

.ml-3 {
    margin-left: 3.5rem;
}
.text-muted {
    font-style: italic;
    color: rgb(220, 53, 69) !important;
}

.card-desc {
    font-style: italic;
    color: white;
    width: 15rem;
    text-align: center;
}

.album-section{
    position: relative;
    margin-left: 1rem;
    top: 5rem;
}

.white-line{
    color:#fff;
}

html {
    scroll-behavior: smooth !important;
}

scroll-container {
    scroll-behavior: smooth !important;
  }
  
.btn-primary{
    background-color: rgb(220, 53, 69) !important;
    border-color: rgb(220, 53, 69) !important;
    position: relative;
    left: -55rem;
    top: -5rem;
}

@media (min-width: 1024px) {
    .center{
        display: flex;
        justify-content: center;
        width: 35rem;
        position: relative;
        left: 42rem;
        top:-6rem;
    }
}

@media (max-width: 800px) {
    .center {
        display: flex;
        justify-content: center;
        width: 35rem;
        position: relative;
        left: 30rem;
        top:-6rem;
    } 
}

.btn-secondary{
    background-color: rgb(220, 53, 69) !important;
    border-color: rgb(220, 53, 69) !important;
}

.btn-secondary.active {
    filter: brightness(0.7); /* Valor entre 0 e 1 para escurecer */
  }

.event-name {
    color: white;
}
  
.event-description {
    color: white;
}
  
.white-line {
    border-top: 1px solid white;
}

#login{
    margin: 120px 0px 0px 0px;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: auto;
    background-color: rgb(220, 53, 69);
    border-radius: 25px;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#login-box{
    margin-top: 0px !important;
}

.form-group{
    margin-top: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.suggestion-container {
    margin: 10px 50px 0px 50px;
    border-radius: 5px;
    background-color: rgb(220, 53, 69);
    border-radius: 25px;
    padding: 20px;
}

.container-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: red;
    text-align: center;
    padding: 1rem;
}

.delete-suggestion-button{
    transform: scale(0.7);
    background: none;
    cursor:pointer;
    border:none;
}

.carousel-control-prev {
    left: -6rem;
}

.carousel-control-next {
    right: -6rem;
}

.carousel-caption-dark {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    left:0;
    width:100%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}